---
---

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,600|Voltaire);
@import url('{{ site.baseurl }}/assets/slick/slick.css');
@import url('{{ site.baseurl }}/assets/slick/slick-theme.css');

@-ms-viewport {
  width: extend-to-zoom;
  zoom: 1.0;
}

@viewport {
  zoom: 1.0;
  width: device-width;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  background: #111;
}

header,
section,
footer,
aside,
nav,
main,
article,
figure {
  display: block;
}

a:link,
a:active,
a:visited {
  text-decoration: none;
}

abbr[title], acronym[title] {
  border-bottom: 1px dashed #eee;
  cursor: help;
  text-decoration: none;
}

body {
  background: #1a1a1a;
  color: #eee;
  margin: 0 auto;
  max-width: 800px;
  font-family: 'Open Sans', sans-serif;
  font-size: 100%;
}

h1 {
  color: #0ff;
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 1rem;
  text-shadow: 0 0 10px #0ff;
}

p {
  font-size: 1rem;
  margin-bottom: 1rem;
}

header {
  color: #0ff;
  font-family: 'Voltaire', sans-serif;
  padding: 1.25rem;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 0 0 10px #0ff;
}

a#pageTitle,
a#pageSubtitle {
  color: #0ff;
}

#pageTitle {
  display: block;
  font-size: 12rem;
  margin-bottom: 1.25rem;
}

#pageSubtitle {
  display: block;
  font-size: 2.4rem;
  letter-spacing: 4.1rem;
  margin-bottom: -3rem;
  position: relative;
  top: -3rem;
}

#lastLetter {
  letter-spacing:normal;
}

.shine {
  text-shadow: 0px 0px 24px #cff;
  color: #cff;
}

nav {
  background: rgba(26, 26, 26, 0.9);
  font-size: 1.3rem;
  font-weight: 600;
  margin: 10px 0;
  padding: 10px 1.25rem;
  position: sticky;
  text-align: center;
  text-transform: uppercase;
  top: 0;
  z-index: 999;
}

nav a {
  color: #eee;
  padding: 5px 10px;
  transition: .2s ease-in-out;
}

nav a:hover {
  color: #999;
  transition: .1s ease-in-out;
}

nav a:active {
  position: relative;
  top: 1px;
}

nav a#current {
  color: #0ff;
  text-shadow: 0 0 10px #0ff;
}

section {
  padding: 1.25rem;
}

section a:link,
section a:visited {
  color: #0ff;
}

section a:hover {
  border-bottom: 2px solid #0ff;
}

ul {
  margin-left: 2rem;
}

li {
  margin-bottom: 1rem;
}

li a:link {
  border-bottom: 0;
}

p.discog {
  column-count: 3;
  column-gap: 2rem;
}

footer {
  clear: both;
  color: #999;
  font-size: 1rem;
  padding: 1.25rem;
  text-align: center;
}

.hline {
  clear: both;
  border-bottom: 2px solid #2d2d2d;
  height: 1px;
  margin: 0 2.5rem;
  min-height: 1px;
}

form {
  margin-top: 3rem;
}

form input {
  background: #eee;
  border: 0;
  color: #000;
  font-size: 1rem;
  display: block;
  padding: .5rem;
  margin-bottom: 1rem;
  width: 50%;
}

form textarea {
  background: #eee;
  border: 0;
  color: #000;
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
  margin-bottom: 1rem;
  padding: .5rem;
  width: 100%;
}

form input:focus, form textarea:focus {
  background: #fff;
}

form .send {
  background: #000;
  border: 2px solid #fff;
  color: #fff;
  cursor: pointer;
  float: right;
  font-weight: 600;
  margin-bottom: 1rem;
  padding: 1rem;
  width: 12rem;
  transition: color 0.5s, background 0.5s;
}

form .send:hover {
  background: #0ff;
  border-color: #0ff;
  color: #000;
  transition: color 0.2s, background 0.2s;
}

form .send:active {
  background: #000;
  border-color: #0ff;
  color: #0ff;
  transition: color 0s, background 0s;
}

form .send:focus {
  background: #000;
  border-color: #0ff;
  transition: color 0s, background 0s;
}

.success {
  clear: both;
  color: #008000;
  background: #90ee90;
  margin-bottom: 1rem;
  padding: 1rem;
}

.error {
  clear: both;
  color: #f00;
  background: #ffc0cb;
  margin-bottom: 1rem;
  padding: 10px;
}

img {
  height: auto;
  margin: 2rem 0 1.25rem;
  max-width: 100%;
}

footer .social {
  display: block;
  padding: 1rem;
}

footer .social a.facebook,
footer .social a.twitter {
  border-radius: 1rem;
  box-sizing: border-box;
  display: inline-block;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  height: 2rem;
  width: 2rem;
}

footer .social a.facebook:hover,
footer .social a.twitter:hover {
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%);
  transition: .2s ease-in;
}

footer .social a.facebook {
  background: #49629d url({{ base.url }}/assets/facebook.svg) no-repeat center;
  background-size: 1rem;
  margin-right: 1rem;
}

footer .social a.twitter {
  background: #6aa9e0 url({{ base.url }}/assets/twitter.svg) no-repeat center;
  background-size: 1rem;
}

#quote form {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 0 1.25rem;
  margin: 1rem 0;
}

#quote form label {
  display: inline-block;
  margin-bottom: 1rem;
  padding-right: 2rem;
  width: 75%;
}

#quote form input {
  background: #eee;
  border: 0;
  color: #000;
  display: inline;
  padding: .5rem;
  width: 3rem;
}

#quote form input:focus {
  background: #fff;
}

#quote form input#ddp {
  height: 1rem;
  width: 1rem;
}

#quote button {
  background: #000;
  border: 2px solid #fff;
  color: #fff;
  cursor: pointer;
  display: block;
  font-size: 1rem;
  font-weight: 600;
  margin: 0 1.25rem 1rem;
  padding: 1rem;
  width: 12rem;
  transition: color 0.5s, background 0.5s;
}

#quote button:hover {
  background: #0ff;
  border-color: #0ff;
  color: #000;
  transition: color 0.2s, background 0.2s;
}

#quote button:active {
  background: #000;
  border-color: #0ff;
  color: #0ff;
  transition: color 0s, background 0s;
}

#results {
  font-size: 1.2rem;
  font-weight: 600;
  padding: .5rem;
  text-align: center;
}

.check {
  display: none;
}

.discog-art p {
  text-align: center;
}

/* Form validation for non-HTML5 browsers */

.invalid input:required:invalid,
.invalid textarea:required:invalid {
  color: #f00;
  background: #ffc0cb;
}

.invalid input:required:valid {
  color: #008000;
  background: #90ee90;
}

@media (max-width: 800px) {
  #pageTitle {
    font-size: 24vw;
    margin-bottom: 2.5rem;
  }

  #pageSubtitle {
    font-size: 5.5vw;
    letter-spacing: 8vw;
  }

  nav {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin: 0;
    padding: 0;
  }

  nav a {
    padding: .5rem 1rem;
    margin: .5rem 0;
  }
}

@media (max-width: 576px) {
  nav {
    font-size: 1rem;
  }

  p.discog {
    column-count: 2;
  }
}

@media (max-width: 400px) {
  header {
    padding:1rem;
  }

  nav {
    justify-content: space-between;
  }

  .hline {
    margin: 0 2.5rem;
  }

  p.discog {
    column-gap: 1rem;
  }

  footer {
    padding: 1rem;
  }

  form {
    margin-top: 2rem;
  }

  form input {
    width: 100%;
  }

  #quote form {
    padding: 0;
  }

  form .send,
  #quote button {
    float: none;
    margin: 0 auto 1rem;
    width: 100%;
  }

  footer .social {
    padding: 2rem;
  }

  footer .social a.facebook,
  footer .social a.twitter {
    border-radius: 2rem;
    height: 4rem;
    width: 4rem;
  }

  footer .social a.facebook {
    background-size: 2rem;
    margin-right: 2rem;
  }

  footer .social a.twitter {
    background-size: 2rem;
  }

  form textarea {
    height: 12rem;
  }
}
