<footer>
  &copy; 2009&ndash;{{ "now" | date: "%Y" }} Christopher Scott Leary t/a Melograf Mastering
  <div class="social">
    <a class="facebook" href="https://www.facebook.com/melograf"></a><a class="twitter" href="https://twitter.com/ochremusic"></a>
  </div>
</footer>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
<script src="{{ site.baseurl }}/js/script.min.js"></script>
<script src="{{ site.baseurl }}/assets/slick/slick.min.js"></script>
</body>

</html>
